%tr
  %td.username
    = link_to account.username, admin_account_path(account.id)
  %td.domain
    - unless account.local?
      = link_to account.domain, admin_accounts_path(by_domain: account.domain)
  %td.email
    = account.user&.email
  %td
    - if account.suspended?
      Suspended
    - elsif account.user.confirmed?
      Confirmed
  %td= time_ago_in_words account.created_at
  %td
    - if account.local?
      - if account.user.nil?
        = t("admin.accounts.moderation.suspended")
      - else
        = t("admin.accounts.roles.#{account.user.role}")
    - else
      = account.protocol.humanize
  %td
    = table_link_to 'circle', t('admin.accounts.web'), web_path("accounts/#{account.id}")
    = table_link_to 'globe', t('admin.accounts.public'), TagManager.instance.url_for(account)
