.compact-header
  %h1 Switter Listings

= form_tag '/', method: 'GET', class: 'simple_form' do
  .fields-group
    .input.string.required
      = text_field_tag 'query', params[:query], class: 'string required', placeholder: 'Search terms. i.e. Melbourne'

    .actions
      %button Search
      = link_to 'Post a listing', 'https://switter.at/share?text=I%27m%20available%20for%0A%0ALocation:%20%0aContact:%20%0a%0a%23swlisting', class: 'button'

    .flash-message
      %p Listings last for 7 days.
      %p Listings are a work in progress. Don't abuse this feature (post too often) otherwise you will be barred from this feature.


- @listings.each do |listing|
  - stream_entry = listing.stream_entry
  - type         = stream_entry.activity_type.downcase
  .activity-stream.activity-stream-headless.h-entry
    .entry
      = render partial: "stream_entries/simple_status", locals: { status: listing, include_threads: false }
  %br

- if @listings.empty?
  .flash-message= "Sorry, your search for '#{params[:query]}' has no results. Try a different search term."

