%tr{id: "report-#{report.id}"}
  %td.target
    = admin_account_link_to report.target_account
  %td.reporter
    - if report.account.local?
      = admin_account_link_to report.account
    - else
      = report.account.domain
  %td
    %div{ title: report.comment }
      = truncate(report.comment, length: 30, separator: ' ')
    %div
      - unless report.statuses.empty?
        %span{ title: t('admin.accounts.statuses') }
          = fa_icon('comment')
          = report.statuses.count
      - unless report.media_attachments.empty?
        %span{ title: t('admin.accounts.media_attachments') }
          = fa_icon('camera')
          = report.media_attachments.count
  %td= time_ago_in_words report.created_at
  %td
    - if report.assigned_account.nil?
      \-
    - else
      = admin_account_link_to report.assigned_account
  %td
    = table_link_to 'circle', t('admin.reports.view'), admin_report_path(report)
    = table_link_to 'check-circle', t('admin.reports.resolve'), admin_report_path(report, outcome: 'resolve'), remote: true, data: {'disable-with': 'Resolving...'}, method: :put
    = table_link_to 'trash', t('admin.reports.spam'), admin_report_path(report, outcome: 'spam'), remote: true, data: {'disable-with': 'Processing...'}, method: :put
